# Built files
*.apk
*.aab
*.ap_
*.aar

# Gradle and build directories
.gradle/
build/
app/build/
.externalNativeBuild
.cxx

# Local configuration files
local.properties

# IDE/Editor files
.idea/
*.iml
.DS_Store

# Firebase config
google-services.json

# Captures (screenshots, etc.)
/captures